$dark: #424652;
$light: #9a9da4;
$highlight: #d8d8d8;
$border: #e9e9e9;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	color: $dark;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.375rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

p,
li {
	font-size: 1.1rem;
	line-height: 1.75;
}

p,
ol {
	margin: 0 0 1.6em 0;
}
hr {
	width: 3em;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 1rem 0 3em;
}
