<!DOCTYPE html>
<html>
	<head>
		<title>Iram Shehzadi - Full Stack Developer</title>
	</head>
	<body>

		<div class="wrapper wrapper-padding clearfix">
			<div class="col-1 about homepage-content">
				<h2>About</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum porro dicta architecto, atque rem earum minima voluptates in esse similique tempora eum veniam quam iure quisquam odit molestias natus neque.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum porro dicta architecto, atque rem earum minima voluptates in &amp; esse similique tempora eum veniam quam iure quisquam odit molestias natus neque.<a href="https://github.com/iram-shehzadi"> Github</a> </p>
				<a href="https://www.linkedin.com/in/iram-shehzadi/"> LinkedIn</a> </p>
			</div>


			<div class="col-2 homepage-content">
				<h2>Projects</h2>
				<hr>
				<% @projects.each do |project| %>
					<h3><a href="#"><%= link_to project.title, project %></a></h3>
					<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
				<% end %>
			</div>
		</div>
	</body>
</html>