<!DOCTYPE html>
<html>
	<head>
		<title>Iram Shehzadi - Full Stack Developer</title>
	</head>
	<body>

<div class="wrapper wrapper-padding clearfix">
	<div class="col-1 about homepage-content">
		<h2>About</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum porro dicta architecto, atque rem earum minima voluptates in esse similique tempora eum veniam quam iure quisquam odit molestias natus neque.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum porro dicta architecto, atque rem earum minima voluptates in &amp; esse similique tempora eum veniam quam iure quisquam odit molestias natus neque.<a href="https://github.com/iram-shehzadi"> Github</a> </p>
		<a href="https://www.linkedin.com/in/iram-shehzadi/"> LinkedIn</a> </p>
	</div>


	<div class="col-2 homepage-content">
		<h2>Things I've built</h2>
		<hr>
		<h3><a href="#">Project one</a></h3>
		<p class="info"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<h3><a href="#">Project Two</a></h3>
		<p class="info"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<h3><a href="#">Project Three</a></h3>
		<p class="info"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	</div>
</div>
	</body>
</html>