$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;

#main-footer {
	position: fixed;
	bottom: 0;
	padding: 2.5em 5%;
	width: 100%;

	@media only screen and (max-width: 1024px) {
		position: relative;
	}

	.copyright {
		float: left;
		font-size: 0.9em;
		margin: 0;
	}
	nav {
		float: right;
		i {
			color: $dark;
			margin-left: 1em;
			padding-top: 0.2em;
			&:hover {
				color: $highlight;
			}
		}
	}
}
